<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-sanitize.js"></script>
</head>

<body ng-app="ex76" ng-controller="ctrl76">
    <h2>
            76) Construa um algoritmo, em javascript, que leia 10 valores
            inteiros e positivos e:
            <p>· Encontre o maior valor</p>
            <p>· Encontre o menor valor</p>
            <p>· Calcule a média dos números lidos</p>
    </h2>

    <input type="number" ng-model="n1" placeholder="1º Número">
    <input type="number" ng-model="n2" placeholder="2º Número">
    <input type="number" ng-model="n3" placeholder="3º Número">
    <input type="number" ng-model="n4" placeholder="4º Número">
    <input type="number" ng-model="n5" placeholder="5º Número"><p></p>
    <input type="number" ng-model="n6" placeholder="6º Número">
    <input type="number" ng-model="n7" placeholder="7º Número">
    <input type="number" ng-model="n8" placeholder="8º Número">
    <input type="number" ng-model="n9" placeholder="9º Número">
    <input type="number" ng-model="n10" placeholder="10º Número"><p></p>

    <label></label><p></p>
    <label></label><p></p>

    <div ng-bind-html="saida()"></div>
</body>

</html>
<script>
    var app = angular.module('ex76', ['ngSanitize']);
    app.controller("ctrl76", function ($scope, $sce) {
        $scope.saida = function (n1,n2,n3,n4,n5,n6,n7,n8,n9,n10) {
            var numeros = [n1,n2,n3,n4,n5,n6,n7,n8,n9,n10];
            for (let i = numeros; numeros < 9; i++) {
                
                
            }
        }        
    })

</script>